<strong><%= post.content %></strong>
<p><%= time_ago_in_words(post.created_at) %> Ago</p>

<% if current_user.id == @user.id %>
  <p>
    <%= link_to 'Delete', post, method: :delete, class: "button", data: {confirm: 'Are you sure?'} %>
  </p>
<% end %>
